:root {
    color: #336666 !important;
}

.avatar {
}

.avatar:hover {
    transition-duration: 1s, 1s;
    transition-delay: 0s, 0s;
    transition-timing-function: ease-in-out, ease-in;
    transition-property: scale, transform-origin;
}
